#subtab ul li a.current{
	padding:4px 14px 10px 14px;
}
#helplink a {
	padding:0 18px;
}
#groupon_widget {
  background-image: none 
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/rays.png', sizingMethod='image')
}
#groupon_widget table#number_bought tr td#number{
  padding-top:10px;
  font-size: 28px;
  line-height:24px;
}